<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="maxHttpRequestsPerSource" value="20" />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
     <clear />
    <add key="nexus" value="https://packages.hip.synapxe.sg/repository/nuget/index.json" />
  </packageSources>
</configuration>
